@import url("https://unpkg.com/leaflet@1.9.3/dist/leaflet.css");

#root {
  background-color: #f5f7fa; /* Cambiado a un gris claro */
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif; /* Reforzar el uso de la fuente */
}

#root {
  background-color: #F1FAEE; /* Blanco suave */
  color: #1D3557; /* Texto en azul oscuro */
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "Titillium Web", sans-serif; /* Fuente moderna */
}


html {
  scroll-behavior: smooth;
}

div[id] {
  scroll-margin-top: 80px;
}

.section-title {
  font-size: 2.2rem; /* Aumentar ligeramente el tamaño */
  font-weight: bold; /* Destacar títulos */
}

.section-text {
  font-size: 1.1rem;
  color: #555; /* Un color más sutil para texto */
}

#title {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

#title > h2 {
  padding: 1.5rem 0;
}

@media (max-width: 900px) {
  #inicio-title {
    font-size: 2.2rem;
    text-align: left; /* Cambiar alineación en pantallas pequeñas */
  }
}

#inicio-text {
  font-size: 1.5rem;
}

#table {
  margin: 1rem 4rem;
}

/* sx={{ paddingRight: 2, paddingBottom: 2 }} */
#control-panel {
  padding-right: 1rem;
  padding-bottom: 2rem;
}

/* sx={{ margin: 5 }} */
#graphic {
  margin: 1rem 4rem;
}

@media (max-width: 900px) {
  #inicio-title {
    font-size: 2rem;
  }
  
  #inicio-text {
    font-size: 1rem;
  }

  #table {
    margin: 1rem 1rem;
  }

  #control-panel {
    padding-right: 0;
  }

  #graphic {
    margin: 1rem 1rem;
  }
}
#city-select {
  background-color: #e0e0e0; /* Fondo gris claro */
  color: #1D3557; /* Texto azul oscuro */
  border: 1px solid #457B9D; /* Borde azul medio */
  border-radius: 4px;
  padding: 0.5rem;
}

#city-select:hover {
  background-color: #d6d6d6; /* Fondo más claro al pasar el mouse */
}

#city-select:focus {
  border-color: #0d045a; /* Borde rojo coral al enfocar */
}

#map {
  margin-top: 2rem;
  text-align: center;
}

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1D3557;
}

.section-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}
